<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DuttaFashion</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

<!-- start contener-->
<div class="contener"> 
  
  <!-- start body contener-->
  
  <div class="body_contenet">
    <div class="company_name company_name_2" style="border-bottom:solid 1px #ccc;">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td width="350"><h1>Dutta  Fashion S.r.l</h1>
            Via Adda 13/B - 20863 Concorezzo (MB)</td>
          <td align="right" width="600">Partita Iva e numero di registrazione Camera di commercio 08305980966 - PRZ FLL67A67 F704K
            VAT number and Chamber of commerce registration number 08305980966 - PRZ FLL67A67 F704K
            Numero REA MB 1890803/Company number MB 1890803</td>
        </tr>
      </table>
    </div>
    <div class="company_name company_name_2">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td width="700"><table cellpadding="0" cellspacing="0">
              <tr>
                <td width="350">Numero fattura/invoice Number :</td>
                <td width="400" align="left" valign="bottom">
                
                	<table cellpadding="0" cellspacing="0" width="100%">
                    	<tr>
                       	  <td width="70"><strong>56456465405</strong></td>
                            <td width="50" align="left" valign="top"> del/of </td>
                          <td width="100" align="left"><strong>56456465405</strong></td>
                        </tr>
                    </table>
                
                </td>
                 
                 
              </tr>
              <tr>
                <td width="350">Codice cliente/customer code :</td>
                <td align="left" width="400"><strong>64868465565566</strong></td>
              </tr>
              <tr>
                <td width="350">Partita IVA/Codice fiscale - Vat number/tax code :</td>
                <td align="left" width="400"><strong>64868465565566</strong></td>
              </tr>
            </table></td>
          <td width="250" align="left" valign="middle"><h3>Cliente</h3>
            Ragione Sociale/Customer name indirizzo/address CAP Città (Provincia)/Postcode City (Country)
            </td>
        </tr>
      </table>
    </div>
    <div class="company_name company_name_2">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td width="325" valign="top">Pagamento/payment</td>
          <td align="left" width="630"><strong>$64868465565566</strong></td>
        </tr>
        <tr>
          <td width="325" valign="top">Rif. DDT/document of transport nr</td>
          <td align="left" width="630"><strong>$64868465565566</strong></td>
        </tr>
      </table>
    </div>
    <div class="company_name company_name_1 company_name_2">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <th width="190">Codice articolo/article code</th>
          <th width="250">Descrizione/description</th>
          <th width="50">Q.ta</th>
          <th width="120">Prezzo unitario</th>
          <th width="120">Sconto/discount</th>
          <th width="150">Importo/Amount</th>
          <th>Iva/Vat</th>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        <tr>
          <td width="190" align="center">code </td>
         <td width="250" align="center">code </td>
         <td  width="50" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="120" align="center">code </td>
         <td width="150" align="center">code </td>
         <td width="60" align="center">code </td>
        </tr>
        
        
        
        
        <tr>
          <td align="right" colspan="5"><p>Imponibile/taxable income</p>
            <p> Imposta IVA/Vat </p>
            TOTALE FATTURA/TOTAL INVOICE </td>
          <td valign="bottom"><div class="total_invoice"><strong>$50555</strong></div></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="company_name company_name_2">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td width="305" valign="top">Pagamento/payment</td>
          <td align="left" width=""><strong>REA MB 1890803/Company number MB 1890803</strong></td>
          <td width="150" align="right" valign="top"> Terms of payment</td>
        </tr>
      </table>
    </div>
  </div>
  
  <!-- end body contener--> 
  
</div>
<!-- end contener-->

</body>
</html>
